{"openapi":"3.1.0","info":{"title":"crate-api","version":"1.1.0","description":"Public, paid API for crate — faceted music catalogue search + enrichment. See https://crate.0xhoneyjar.xyz/docs for narrative docs.","contact":{"name":"crate support","email":"support@crate.0xhoneyjar.xyz"},"license":{"name":"Commercial — see Terms of Service"}},"servers":[{"url":"https://crate.0xhoneyjar.xyz","description":"Production"}],"security":[{"ApiKeyAuth":[]}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"Customer API key in `ck_(live|test)_<32-base62>` format"},"BeaconBearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Short-lived per-search beacon JWT (issued with the search response), sent as `Authorization: Bearer <token>`. Distinct from the X-API-Key customer key; the token is bound to a single search_event_id."}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","example":"invalid_query"},"details":{"type":"array","items":{}},"retry_after_seconds":{"type":"number"},"master_id":{"type":"number"}},"required":["error"]},"RateLimited":{"type":"object","properties":{"error":{"type":"string","enum":["rate_limited"]},"retry_after_seconds":{"type":"number"}},"required":["error","retry_after_seconds"]},"Freshness":{"type":"object","properties":{"ridden_lag_s":{"type":["number","null"]},"mirror_lag_s":{"type":["number","null"]}},"required":["ridden_lag_s","mirror_lag_s"]},"ResultRow":{"type":"object","properties":{"master_id":{"type":"integer"},"title":{"type":"string"},"artist":{"type":"string"},"year":{"type":["integer","null"]},"cube_quadrant":{"type":["string","null"]},"owner_count":{"type":["integer","null"]},"dj_count":{"type":["integer","null"]},"critic_count":{"type":["integer","null"]},"formats":{"type":"array","items":{"type":"string"}},"link_to_cube":{"type":"string"}},"required":["master_id","title","artist","year","cube_quadrant","owner_count","dj_count","critic_count","formats","link_to_cube"]},"SearchResponse":{"type":"object","properties":{"query":{"type":"object","properties":{"q":{"type":"string"},"filters":{"type":"array","items":{"type":"object","properties":{"facet":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}},{"type":"number"}]},"mode":{"type":"string","enum":["and","or"]}},"required":["facet","value"]}}},"required":["filters"]},"pagination":{"type":"object","properties":{"page":{"type":"integer"},"total_pages":{"type":["integer","null"]},"total_results":{"type":"integer"},"total_results_mode":{"type":"string","enum":["exact","approximate_50k_sample","lower_bound"]}},"required":["page","total_pages","total_results","total_results_mode"]},"facets":{"type":"object","additionalProperties":{}},"freshness":{"$ref":"#/components/schemas/Freshness"},"results":{"type":"array","items":{"$ref":"#/components/schemas/ResultRow"}}},"required":["query","pagination","facets","freshness","results"]},"MasterEnrichment":{"type":"object","properties":{"master_id":{"type":"integer"},"title":{"type":"string"},"artist":{"type":"string"},"year":{"type":["integer","null"]},"cube_quadrant":{"type":["string","null"]},"owner_count":{"type":["integer","null"]},"dj_count":{"type":["integer","null"]},"critic_count":{"type":["integer","null"]},"formats":{"type":"array","items":{"type":"string"}},"freshness":{"$ref":"#/components/schemas/Freshness"},"link_to_cube":{"type":"string"},"insert_links":{"type":"null"}},"required":["master_id","title","artist","year","cube_quadrant","owner_count","dj_count","critic_count","formats","freshness","link_to_cube","insert_links"]},"BatchResponse":{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/MasterEnrichment"}},"not_found":{"type":"array","items":{"type":"integer"}}},"required":["results","not_found"]},"UsageResponse":{"type":"object","properties":{"tier":{"type":"string","enum":["sync","self_serve_49","self_serve_99","self_serve_299"]},"month":{"type":"string","pattern":"^\\d{4}-\\d{2}$"},"calls_this_month":{"type":"integer"},"quota_monthly":{"type":"integer"},"remaining_this_month":{"type":"integer"},"burst_limit_per_minute":{"type":"integer"},"tier_metadata":{"type":"object","properties":{"endpoints_available":{"type":"array","items":{"type":"string"}}},"required":["endpoints_available"]}},"required":["tier","month","calls_this_month","quota_monthly","remaining_this_month","burst_limit_per_minute","tier_metadata"]},"FacetCounts":{"type":"object","additionalProperties":{}},"WayfindAnswerResponse":{"type":"object","additionalProperties":{}},"WayfindInterpretResponse":{"type":"object","additionalProperties":{}},"ObservedBeaconRequest":{"type":"object","properties":{"search_event_id":{"type":"string","format":"uuid"},"source":{"type":"string","enum":["swr-cache-hit","client-cache-hit"]},"timestamp":{"type":"string","format":"date-time"}},"required":["search_event_id","source","timestamp"],"additionalProperties":false},"RefinedBeaconRequest":{"type":"object","properties":{"search_event_id":{"type":"string","format":"uuid"},"changed_facets":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","enum":["genre","style","year_from","year_to","country","format","label","q"]},"from":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"array","items":{"type":"string"}},{"type":"null"},{"type":"null"}]},"to":{"anyOf":[{"type":"string"},{"type":"number"},{"type":"array","items":{"type":"string"}},{"type":"null"},{"type":"null"}]}},"required":["name"],"additionalProperties":false},"maxItems":10},"timestamp":{"type":"string","format":"date-time"}},"required":["search_event_id","changed_facets","timestamp"],"additionalProperties":false},"BeaconError":{"type":"object","properties":{"error":{"type":"string","example":"invalid_payload"},"details":{},"skew_ms":{"type":"number"}},"required":["error"]},"DossierManifest":{"type":"object","properties":{"contract_version":{"type":"string"},"generated_at":{"type":"string"},"unavailable_grains":{"type":"array","items":{}},"grains":{"type":"array","items":{}}},"required":["contract_version","generated_at","unavailable_grains","grains"]},"MasterDossierContract":{"type":"object","properties":{"contract_version":{"type":"string"},"grain":{"type":"string","enum":["master"]},"id":{"type":"number"},"header":{"type":"object","properties":{"title":{"type":"string"},"artist":{"type":["string","null"]},"year":{"type":["number","null"]},"formats":{"type":"array","items":{"type":"string"}},"cube_quadrant":{"type":"object","properties":{"code":{"type":["string","null"]},"label":{"type":["string","null"]}},"required":["code","label"]}},"required":["title","artist","year","formats","cube_quadrant"]},"sections":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string"},"state":{"type":"string"}},"required":["field","state"]}},"freshness":{"type":"object","properties":{"mirror_lag_s":{"type":["number","null"]},"seen_lag_s":{"type":["number","null"]}},"required":["mirror_lag_s","seen_lag_s"]},"cache":{"type":"object","properties":{"etag":{"type":"string"},"maxAge":{"type":"number"}},"required":["etag","maxAge"]},"provenance":{"type":"array","items":{}},"generated_at":{"type":"string"}},"required":["contract_version","grain","id","header","sections","freshness","cache","provenance","generated_at"]},"ArtistDossierContract":{"type":"object","properties":{"contract_version":{"type":"string"},"grain":{"type":"string","enum":["artist"]},"slug":{"type":"string"},"display":{"type":"string"},"id":{"type":["number","null"]},"cluster_id":{"type":["string","null"],"description":"cycle-051: hex pe-norm-v1 cluster_id when the slug resolved via the seen booking graph (observed tier — no Discogs bind); null for Discogs-resolved or unresolved. The non-Discogs long-tail artist key."},"resolved_via":{"type":["string","null"],"enum":["discogs","cluster"],"description":"cycle-051: resolution tier. 'discogs' = canonical; 'cluster' = OBSERVED/UNVERIFIED (booking graph, no Discogs bind) — surface flagged-unverified, never as canonical; null when the slug did not resolve."},"identity":{"type":["object","null"],"properties":{"discogsArtistId":{"type":["number","null"]},"clusterId":{"type":["string","null"]},"resolvedVia":{"type":"string","enum":["discogs","cluster"]},"name":{"type":"string"},"realname":{"type":["string","null"]},"profile":{"type":["string","null"]},"urls":{"type":"array","items":{"type":"string"}},"aliases":{"type":"array","items":{"type":"string"}}},"required":["discogsArtistId","clusterId","resolvedVia","name","realname","profile","urls","aliases"]},"behavioral":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"ownerReach":{"anyOf":[{"type":"object","properties":{"kind":{"type":"string","enum":["count"]},"value":{"type":"number"}},"required":["kind","value"]},{"type":"object","properties":{"kind":{"type":"string","enum":["suppressed"]}},"required":["kind"]}]},"wantlistDemand":{"anyOf":[{"type":"object","properties":{"kind":{"type":"string","enum":["count"]},"value":{"type":"number"}},"required":["kind","value"]},{"type":"object","properties":{"kind":{"type":"string","enum":["suppressed"]}},"required":["kind"]}]},"collectorCoownership":{"type":["number","null"]},"communityFootprint":{"type":["number","null"]},"travelsWith":{"type":"array","items":{}},"workCount":{"type":["number","null"]},"primaryGenre":{"type":["string","null"]},"primaryStyles":{"type":"array","items":{"type":"string"}},"masterCountWithGenre":{"type":["number","null"]}},"required":["ownerReach","wantlistDemand","collectorCoownership","communityFootprint","travelsWith","workCount","primaryGenre","primaryStyles","masterCountWithGenre"]}},"required":["state","signals"]},"editorial":{"type":"object","properties":{"state":{"type":"string"},"signals":{}},"required":["state"]},"across_the_web":{"type":"object","properties":{"count":{"type":"number"},"links":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string"},"sourceSubtype":{"type":["string","null"]},"url":{"type":"string"},"title":{"type":["string","null"]},"description":{"type":["string","null"]},"confidence":{"type":["number","null"]}},"required":["source","sourceSubtype","url","title","description","confidence"]}}},"required":["count","links"]},"journalism":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"pressCount":{"type":"number"},"reviewCount":{"type":"number"},"interviewCount":{"type":"number"},"featureCount":{"type":"number"},"items":{"type":"array","items":{}}},"required":["pressCount","reviewCount","interviewCount","featureCount","items"]}},"required":["state","signals"]},"connections":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":"object","properties":{"count":{"type":"number"},"related":{"type":"array","items":{}}},"required":["count","related"]}},"required":["state","signals"]},"emergence":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"emergenceTier":{"type":"string"},"momentumTier":{"type":"string"},"emergenceScore":{"type":"number"},"momentumScore":{"type":"number"},"establishmentDelta":{"type":"number"},"eventsRecent":{"type":"number"},"isFreshBreakout":{"type":"boolean"},"isUnsigned":{"type":"boolean"}},"required":["emergenceTier","momentumTier","emergenceScore","momentumScore","establishmentDelta","eventsRecent","isFreshBreakout","isUnsigned"]}},"required":["state","signals"]},"breakout":{"type":"object","properties":{"state":{"type":"string"},"signal":{"type":["object","null"],"properties":{"emergenceTier":{"type":"string"},"corroboration":{"type":"string"},"pressCount":{"type":"number"}},"required":["emergenceTier","corroboration","pressCount"]}},"required":["state","signal"]},"compositions":{"type":"object","properties":{"state":{"type":"string"},"works":{"type":"array","items":{"type":"object","properties":{"workMbid":{"type":"string"},"workName":{"type":"string"},"ownerReach":{"type":"number"},"versionCollectors":{"type":"number"},"versionDepth":{"type":"number"},"nRecordingsGlobal":{"type":"number"}},"required":["workMbid","workName","ownerReach","versionCollectors","versionDepth","nRecordingsGlobal"]}}},"required":["state","works"]},"tier_presence":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"spansTiers":{"type":"boolean"},"playsClubs":{"type":"boolean"},"playsFestivals":{"type":"boolean"},"clubEvents":{"type":"number"},"festivalEditions":{"type":"number"},"firstClubAt":{"type":["string","null"]},"lastClubAt":{"type":["string","null"]},"firstFestivalAt":{"type":["string","null"]},"lastFestivalAt":{"type":["string","null"]}},"required":["spansTiers","playsClubs","playsFestivals","clubEvents","festivalEditions","firstClubAt","lastClubAt","firstFestivalAt","lastFestivalAt"]}},"required":["state","signals"]},"early_demand":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"ownerReach":{"anyOf":[{"type":"object","properties":{"kind":{"type":"string","enum":["count"]},"value":{"type":"number"}},"required":["kind","value"]},{"type":"object","properties":{"kind":{"type":"string","enum":["suppressed"]}},"required":["kind"]}]},"wishlistDemand":{"anyOf":[{"type":"object","properties":{"kind":{"type":"string","enum":["count"]},"value":{"type":"number"}},"required":["kind","value"]},{"type":"object","properties":{"kind":{"type":"string","enum":["suppressed"]}},"required":["kind"]}]},"earliestSupportedAt":{"type":["string","null"]},"earliestWishedAt":{"type":["string","null"]},"demandCoverage":{"type":["number","null"]},"wishedCoverage":{"type":["number","null"]},"alsoOwnDegree":{"type":["number","null"]}},"required":["ownerReach","wishlistDemand","earliestSupportedAt","earliestWishedAt","demandCoverage","wishedCoverage","alsoOwnDegree"]}},"required":["state","signals"]},"bandcamp_emergence":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"emergenceClass":{"type":"string"},"demandLead":{"type":"number"},"demandRatio":{"type":["number","null"]},"ownerReach":{"type":["number","null"]},"wishlistDemand":{"type":["number","null"]},"distinctReleases":{"type":["number","null"]},"earliestWishedAt":{"type":["string","null"]}},"required":["emergenceClass","demandLead","demandRatio","ownerReach","wishlistDemand","distinctReleases","earliestWishedAt"]}},"required":["state","signals"]},"dated_appearance":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":"object","properties":{"count":{"type":"number"},"sources":{"type":"array","items":{"type":"object","properties":{"sourceKind":{"type":"string"},"firstAppearanceDate":{"type":["string","null"]},"latestAppearanceDate":{"type":["string","null"]},"appearanceCount":{"type":"number"}},"required":["sourceKind","firstAppearanceDate","latestAppearanceDate","appearanceCount"]}}},"required":["count","sources"]}},"required":["state","signals"]},"network_position":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"degree":{"type":"number"},"weightedDegree":{"type":"number"},"resolvedNeighbourRatio":{"type":["number","null"]},"recentDegree":{"type":"number"},"establishmentDelta":{"type":["number","null"]}},"required":["degree","weightedDegree","resolvedNeighbourRatio","recentDegree","establishmentDelta"]}},"required":["state","signals"]},"airplay_breadth":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"firstAirplayDate":{"type":["string","null"]},"latestAirplayDate":{"type":["string","null"]},"airplayCount":{"type":"number"},"distinctStations":{"type":"number"},"distinctVenues":{"type":"number"},"distinctDjs":{"type":"number"}},"required":["firstAirplayDate","latestAirplayDate","airplayCount","distinctStations","distinctVenues","distinctDjs"]}},"required":["state","signals"]},"brokerage":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"degree":{"type":"number"},"effectiveSize":{"type":["number","null"]},"brokerageScore":{"type":["number","null"]},"brokerageTier":{"type":"string"}},"required":["degree","effectiveSize","brokerageScore","brokerageTier"]}},"required":["state","signals"]},"lead_time":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"pressToAirplayDays":{"type":"number"},"undergroundToBookingDays":{"type":"number"}},"required":["pressToAirplayDays","undergroundToBookingDays"]}},"required":["state","signals"]},"bandcamp_tastemaker":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"supporterCohortSize":{"type":"number"},"aesq":{"type":"number"},"aesqMedian":{"type":["number","null"]},"aesqRw":{"type":["number","null"]},"meanFirstBuyerEarliness":{"type":["number","null"]}},"required":["supporterCohortSize","aesq","aesqMedian","aesqRw","meanFirstBuyerEarliness"]}},"required":["state","signals"]},"live_demand":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"demandTier":{"type":"string"},"demandMomentumScore":{"type":["number","null"]},"eventsTracked":{"type":"number"},"eventsSoldOut":{"type":"number"},"distinctProviders":{"type":"number"},"distinctPromoters":{"type":"number"},"avgFillFraction":{"type":["number","null"]},"maxSoldOutLeadDays":{"type":["number","null"]}},"required":["demandTier","demandMomentumScore","eventsTracked","eventsSoldOut","distinctProviders","distinctPromoters","avgFillFraction","maxSoldOutLeadDays"]}},"required":["state","signals"]},"editorial_attention":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"memberCount":{"type":"number"},"sourceRepoCount":{"type":"number"},"firstObservedAt":{"type":["string","null"]},"latestObservedAt":{"type":["string","null"]}},"required":["memberCount","sourceRepoCount","firstObservedAt","latestObservedAt"]}},"required":["state","signals"]},"web_presence":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"bandcampUrl":{"type":["string","null"]},"soundcloudUrl":{"type":["string","null"]},"instagramUrl":{"type":["string","null"]},"websiteUrl":{"type":["string","null"]},"discogsArtistIdClaimed":{"type":["number","null"]},"raStatus":{"type":["string","null"]},"followerCount":{"type":["number","null"]},"country":{"type":["string","null"]},"firstEventAt":{"type":["string","null"]}},"required":["bandcampUrl","soundcloudUrl","instagramUrl","websiteUrl","discogsArtistIdClaimed","raStatus","followerCount","country","firstEventAt"]}},"required":["state","signals"]},"editorial_canon":{"type":"object","properties":{"state":{"type":"string"},"signals":{"type":["object","null"],"properties":{"pickCount":{"type":"number"},"picks":{"type":"array","items":{"type":"object","properties":{"relation":{"type":"string"},"polarity":{"type":["string","null"]},"confidence":{"type":["number","null"]},"assertedBy":{"type":"string"},"isDirectQuote":{"type":"boolean"},"speakerName":{"type":["string","null"]},"objectName":{"type":"string"}},"required":["relation","polarity","confidence","assertedBy","isDirectQuote","speakerName","objectName"]}}},"required":["pickCount","picks"]}},"required":["state","signals"]},"provenance":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string"},"producer":{"type":"string"},"sourceTable":{"type":"string"},"refreshCadence":{"type":"string"},"tier":{"type":"string"},"honestGapState":{"type":"string"},"detailAnchor":{"type":"string"}},"required":["field","producer","sourceTable","refreshCadence","tier","honestGapState"]}},"generated_at":{"type":"string"}},"required":["contract_version","grain","slug","display","id","cluster_id","resolved_via","identity","behavioral","editorial","across_the_web","journalism","connections","emergence","breakout","compositions","tier_presence","early_demand","bandcamp_emergence","dated_appearance","network_position","airplay_breadth","brokerage","lead_time","bandcamp_tastemaker","live_demand","editorial_attention","web_presence","editorial_canon","provenance","generated_at"]},"LabelDossierContract":{"type":"object","properties":{"contract_version":{"type":"string"},"grain":{"type":"string","enum":["label"]},"slug":{"type":"string"},"display":{"type":"string"},"id":{"type":["number","null"]},"identity":{},"behavioral":{},"provenance":{"type":"array","items":{}},"generated_at":{"type":"string"}},"required":["contract_version","grain","slug","display","id","provenance","generated_at"]},"FestivalDossierContract":{"type":"object","properties":{"contract_version":{"type":"string"},"grain":{"type":"string","enum":["festival"]},"slug":{"type":"string"},"display":{"type":"string"},"id":{"type":["string","null"]},"identity":{},"lineup":{},"provenance":{"type":"array","items":{}},"generated_at":{"type":"string"}},"required":["contract_version","grain","slug","display","id","provenance","generated_at"]},"BandcampFeedContract":{"type":"object","properties":{"key":{"type":"object","properties":{"kind":{"type":"string"},"input":{"type":"string"},"resolved_cluster_id_hex":{"type":["string","null"]},"resolved_discogs_artist_id":{"type":["number","null"]},"resolved_mbid":{"type":["string","null"]}},"required":["kind","input","resolved_cluster_id_hex","resolved_discogs_artist_id","resolved_mbid"]},"sources":{"type":"object","additionalProperties":{}},"_meta":{"type":"object","properties":{"k_anon_floor":{"type":"number"},"note":{"type":"string"},"granted_sources":{"type":"array","items":{"type":"string"}},"generated_at":{"type":"string"}},"required":["k_anon_floor","note","granted_sources","generated_at"]}},"required":["key","sources","_meta"]},"BandcampBulkPage":{"type":"object","properties":{"source":{"type":"string"},"rows":{"type":"array","items":{"type":"object","additionalProperties":{}}},"next_cursor":{"type":["string","null"]},"_meta":{"type":"object","properties":{"k_anon_floor":{"type":"number"},"note":{"type":"string"},"generated_at":{"type":"string"}},"required":["k_anon_floor","note","generated_at"]}},"required":["source","rows","next_cursor","_meta"]},"ApiRootIndex":{"type":"object","properties":{"object":{"type":"string","enum":["api_index"]},"version":{"type":"string","enum":["v1"]},"cold_start":{"type":"object","properties":{"problem":{"type":"string"},"steps":{"type":"array","items":{"type":"object","properties":{"step":{"type":"number"},"call":{"type":"string"},"gives":{"type":"string"}},"required":["step","call","gives"]}}},"required":["problem","steps"]},"resources":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"url":{"type":"string"},"auth":{"type":"string","enum":["public","sync"]},"description":{"type":"string"},"how_to_get_the_key":{"type":["string","null"]}},"required":["name","url","auth","description","how_to_get_the_key"]}},"links":{"type":"object","properties":{"openapi":{"type":"string"},"docs":{"type":"string"}},"required":["openapi","docs"]},"types":{"type":"object","properties":{"openapi":{"type":"string"},"generate":{"type":"string"}},"required":["openapi","generate"]}},"required":["object","version","cold_start","resources","links","types"]},"IdentityResolution":{"type":"object","properties":{"cluster_id":{"type":["string","null"]},"slug":{"type":["string","null"]},"display":{"type":["string","null"]},"locators":{"type":"object","properties":{"discogs":{"type":["number","null"]},"mbid":{"type":["string","null"]},"bandcamp":{"type":"array","items":{"type":"string"}}},"required":["discogs","mbid","bandcamp"]},"resolved_via":{"type":["string","null"],"enum":["discogs","cluster"]},"resolved_from":{"type":"string","enum":["url","name","locator"]},"matched_on":{"type":"string"},"note":{"type":"string"}},"required":["cluster_id","slug","display","locators","resolved_via","resolved_from"]},"TastemakersResponse":{"type":"object","properties":{"leaderboard":{"type":"array","items":{"type":"object","properties":{"rank":{"type":"number"},"name":{"type":"string"},"discogsArtistId":{"type":["number","null"]},"slug":{"type":["string","null"]},"ownTier":{"type":"string","enum":["breakout","rising","climbing","steady"]},"degree":{"type":"number"},"emergingNeighbours":{"type":"number"},"pctEmerging":{"type":"number"},"brokerageScore":{"type":["number","null"]},"egoDensity":{"type":["number","null"]},"undergroundToBookingDays":{"type":["number","null"]},"pressToAirplayDays":{"type":["number","null"]},"earliestSupportedAt":{"type":["string","null"]},"demandCoverage":{"type":["number","null"]},"ownerReach":{"type":["number","null"]},"alsoOwnDegree":{"type":["number","null"]}},"required":["rank","name","discogsArtistId","slug","ownTier","degree","emergingNeighbours","pctEmerging","brokerageScore","egoDensity","undergroundToBookingDays","pressToAirplayDays","earliestSupportedAt","demandCoverage","ownerReach","alsoOwnDegree"]}},"onesToWatch":{"type":"array","items":{"type":"object","properties":{"rank":{"type":"number"},"name":{"type":"string"},"discogsArtistId":{"type":["number","null"]},"slug":{"type":["string","null"]},"emergenceTier":{"type":"string","enum":["breakout","rising","climbing","steady"]},"momentumTier":{"type":"string","enum":["breakout","rising","steady","cooling","dormant"]},"emergenceScore":{"type":"number"},"profile":{"type":"string","enum":["network-velocity","festival-pedigree"]},"cultureForwardFestivals":{"type":"number"},"fiveFactorScore":{"type":["number","null"]},"degree":{"type":"number"},"linkable":{"type":"boolean"},"coFestivalCount":{"type":["number","null"]},"coCountryCount":{"type":["number","null"]},"undergroundToBookingDays":{"type":["number","null"]},"pressToAirplayDays":{"type":["number","null"]},"earliestSupportedAt":{"type":["string","null"]},"demandCoverage":{"type":["number","null"]},"ownerReach":{"type":["number","null"]},"alsoOwnDegree":{"type":["number","null"]},"brokerageScore":{"type":["number","null"]},"corroborationCount":{"type":["number","null"]},"corroboratingAxes":{"type":"array","items":{"type":"string"}}},"required":["rank","name","discogsArtistId","slug","emergenceTier","momentumTier","emergenceScore","profile","cultureForwardFestivals","fiveFactorScore","degree","linkable","coFestivalCount","coCountryCount","undergroundToBookingDays","pressToAirplayDays","earliestSupportedAt","demandCoverage","ownerReach","alsoOwnDegree","brokerageScore","corroborationCount","corroboratingAxes"]}},"earlySpinners":{"type":"array","items":{"type":"object","properties":{"rank":{"type":"number"},"djName":{"type":"string"},"totalMastersPlayed":{"type":"number"},"mastersPlayedFirst":{"type":"number"},"mastersPlayedWithin7d":{"type":"number"},"cuttingEdgeScore":{"type":"number"},"firstPlayAt":{"type":["string","null"]},"latestPlayAt":{"type":["string","null"]}},"required":["rank","djName","totalMastersPlayed","mastersPlayedFirst","mastersPlayedWithin7d","cuttingEdgeScore","firstPlayAt","latestPlayAt"]}},"snapshotDate":{"type":["string","null"]},"state":{"type":"string","enum":["present","empty","degraded"]},"stale":{"type":"boolean"}},"required":["leaderboard","onesToWatch","earlySpinners","snapshotDate","state","stale"]},"OnesToWatchResponse":{"type":"object","properties":{"onesToWatch":{"type":"array","items":{"type":"object","properties":{"rank":{"type":"number"},"name":{"type":"string"},"discogsArtistId":{"type":["number","null"]},"slug":{"type":["string","null"]},"emergenceTier":{"type":"string","enum":["breakout","rising","climbing","steady"]},"momentumTier":{"type":"string","enum":["breakout","rising","steady","cooling","dormant"]},"emergenceScore":{"type":"number"},"profile":{"type":"string","enum":["network-velocity","festival-pedigree"]},"cultureForwardFestivals":{"type":"number"},"fiveFactorScore":{"type":["number","null"]},"degree":{"type":"number"},"linkable":{"type":"boolean"},"coFestivalCount":{"type":["number","null"]},"coCountryCount":{"type":["number","null"]},"undergroundToBookingDays":{"type":["number","null"]},"pressToAirplayDays":{"type":["number","null"]},"earliestSupportedAt":{"type":["string","null"]},"demandCoverage":{"type":["number","null"]},"ownerReach":{"type":["number","null"]},"alsoOwnDegree":{"type":["number","null"]},"brokerageScore":{"type":["number","null"]},"corroborationCount":{"type":["number","null"]},"corroboratingAxes":{"type":"array","items":{"type":"string"}}},"required":["rank","name","discogsArtistId","slug","emergenceTier","momentumTier","emergenceScore","profile","cultureForwardFestivals","fiveFactorScore","degree","linkable","coFestivalCount","coCountryCount","undergroundToBookingDays","pressToAirplayDays","earliestSupportedAt","demandCoverage","ownerReach","alsoOwnDegree","brokerageScore","corroborationCount","corroboratingAxes"]}},"snapshotDate":{"type":["string","null"]},"state":{"type":"string","enum":["present","empty","degraded"]},"stale":{"type":"boolean"}},"required":["onesToWatch","snapshotDate","state","stale"]},"BreakoutsResponse":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","properties":{"discogsArtistId":{"type":"number"},"clusterId":{"type":["string","null"]},"resolvedVia":{"type":"string","enum":["discogs","cluster"]},"name":{"type":"string"},"slug":{"type":"string"},"emergenceTier":{"type":"string","enum":["breakout","rising"]},"emergenceScore":{"type":"number"},"pressCount":{"type":"number"},"corroboration":{"type":"string","enum":["corroborated","booking_ahead"]},"location":{"type":["object","null"],"properties":{"city":{"type":["string","null"]},"region":{"type":["string","null"]},"country":{"type":["string","null"]}},"required":["city","region","country"]}},"required":["discogsArtistId","clusterId","resolvedVia","name","slug","emergenceTier","emergenceScore","pressCount","corroboration","location"]}},"state":{"type":"string","enum":["present","empty","degraded"]}},"required":["items","state"]},"WayfindAnswerRequest":{"type":"object","properties":{"question":{"type":"string","minLength":1,"maxLength":512}},"required":["question"]},"WayfindInterpretRequest":{"type":"object","properties":{"q":{"type":"string","minLength":1,"maxLength":256}},"required":["q"]}},"parameters":{}},"paths":{"/api/v1/search":{"get":{"summary":"Faceted search across the catalogue","description":"Faceted search across the catalogue. Requires an X-API-Key (post-cycle-078 wall); crate's own /explore + /crate search call it server-side via the first-party proxy. New params (cube_quadrant, dj_count_min, exclude_artist, exclude_label) added in cycle-001 sprint-1.","tags":["Search"],"parameters":[{"schema":{"type":"string","maxLength":256},"required":false,"name":"q","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"genre","in":"query"},{"schema":{"type":"string","enum":["and","or"]},"required":false,"name":"genre_mode","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"style","in":"query"},{"schema":{"type":"string","enum":["and","or"]},"required":false,"name":"style_mode","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"format","in":"query"},{"schema":{"type":"string","enum":["and","or"]},"required":false,"name":"format_mode","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"country","in":"query"},{"schema":{"type":"string","enum":["and","or"]},"required":false,"name":"country_mode","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"label","in":"query"},{"schema":{"type":"string","enum":["and","or"]},"required":false,"name":"label_mode","in":"query"},{"schema":{"type":"integer","minimum":1900,"maximum":2100},"required":false,"name":"year_from","in":"query"},{"schema":{"type":"integer","minimum":1900,"maximum":2100},"required":false,"name":"year_to","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50},"required":false,"name":"limit","in":"query"},{"schema":{"type":["integer","null"],"minimum":0,"maximum":10000,"default":0},"required":false,"name":"offset","in":"query"},{"schema":{"anyOf":[{"type":"string","pattern":"^[01]{3}$"},{"type":"array","items":{"type":"string","pattern":"^[01]{3}$"},"minItems":1,"maxItems":8}]},"required":false,"name":"cube_quadrant","in":"query"},{"schema":{"type":["integer","null"],"minimum":0,"maximum":1000000},"required":false,"name":"dj_count_min","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"exclude_artist","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"exclude_label","in":"query"}],"responses":{"200":{"description":"Search results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/masters/{id}":{"get":{"summary":"Single master enrichment","tags":["Masters"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"integer","exclusiveMinimum":0,"maximum":2000000000},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Master enrichment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterEnrichment"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"402":{"description":"Payment required (past_due customer or suspended key)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/masters/batch":{"post":{"summary":"Batch master enrichment (≤100 IDs)","description":"Counts as ONE request against rate limit (not N). Body size capped at 32 KB.","tags":["Masters"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"integer","exclusiveMinimum":0,"maximum":2000000000},"minItems":1,"maxItems":100}},"required":["ids"],"additionalProperties":false}}}},"responses":{"200":{"description":"Batch enrichment results (input-order preserved)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchResponse"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"402":{"description":"Payment required (past_due customer or suspended key)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/dossier/manifest":{"get":{"summary":"Cross-grain dossier field manifest (data dictionary)","description":"cycle-023 — every field crate can expose for every entity grain (master/artist/label) with provenance (producer, source table, refresh cadence, tier, honest-gap state), plus unavailable grains (song — no fleet track key, carrefour#71). The machine-readable Swagger-like overview; read it to discover the full surface without hitting every entity endpoint. Keyed (X-API-Key), pure/static.","tags":["Dossier"],"responses":{"200":{"description":"Dossier field manifest","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DossierManifest"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/dossier/master/{id}":{"get":{"summary":"Full per-master dossier contract (aggregation gateway)","description":"cycle-020 — the canonical exhaustive dossier: every fleet signal for the master in every state (present/absent/blind/pending honest-gap) plus a provenance manifest (producer, source table, refresh cadence, tier). Keyed (X-API-Key) (same posture as the public /crate/master page). Distinct from /api/v1/masters/{id} (the older basic enrichment).","tags":["Dossier"],"parameters":[{"schema":{"type":"integer","exclusiveMinimum":0,"maximum":2000000000},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Master dossier contract","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDossierContract"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/dossier/artist/{slug}":{"get":{"summary":"Full per-artist dossier contract (aggregation gateway)","description":"cycle-021 — the canonical exhaustive artist dossier: identity (cc0_artists), collector behavior (mirror.artist_signals_v1), editorial/event (seen.artist_dossier), and artist-level \"Across the Web\" (mirror.master_links_rollup aggregated), each with a classified state, plus a provenance manifest. Keyed (X-API-Key) (matches the public /crate/artist page). An unresolved slug returns identity:null (HTTP 200, honest-gap), not 404.","tags":["Dossier"],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":200},"required":true,"name":"slug","in":"path"}],"responses":{"200":{"description":"Artist dossier contract","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtistDossierContract"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/dossier/label/{slug}":{"get":{"summary":"Full per-label dossier contract (aggregation gateway)","description":"cycle-022 — the canonical label dossier: identity (cc0_labels: name, sublabel→parent lineage, profile, links) + collector behavior (mirror.label_signals_v1: owner_reach/wantlist_demand k-anon, co-ownership, community footprint, travels-with labels), each with a classified state, plus a provenance manifest. Keyed (X-API-Key). Unresolved slug → identity:null (HTTP 200, honest-gap), not 404.","tags":["Dossier"],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":200},"required":true,"name":"slug","in":"path"}],"responses":{"200":{"description":"Label dossier contract","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDossierContract"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/dossier/festival/{slug}":{"get":{"summary":"Full per-festival dossier contract (aggregation gateway)","description":"cycle-060 — the canonical festival dossier: identity (seen.festival_canonical, the de-fragmented grain: display name, country, inclusion tier, year span, source-mix badges) + the consolidated editions⋈lineup across member festivals (seen.festival_editions/festival_lineup_entries), with a classified state, plus a provenance manifest. The {slug} is the canonical_key. Keyed (X-API-Key). Unresolved key → identity:null (HTTP 200, honest-gap), not 404. Lineup is name-only this cycle.","tags":["Dossier"],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":200},"required":true,"name":"slug","in":"path"}],"responses":{"200":{"description":"Festival dossier contract","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FestivalDossierContract"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/bandcamp/{artistKey}":{"get":{"summary":"Flat Bandcamp feed for one artist — every granted source, verbatim columns","description":"cycle-064 — the maximally-flexible Bandcamp feed: every crate_reader-granted Bandcamp surface (mirror signals/emergence/identity/signals_mbid/early_supporter_quality/scene/travels_with/self_declared_links/lead_time_authority + seen gravity/tastemaker) returned FLAT and source-tagged with ALL columns verbatim (the consumer reshapes). artistKey = <64-hex cluster_id> | discogs:<int> | mbid:<uuid>. Keyed (X-API-Key). Data is k-anon/public-safe; counts arrive already-floored — do NOT re-floor. Unresolved/sparse → 200 with the relevant sources {present:false}. Malformed key → 400.","tags":["Bandcamp"],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":80},"required":true,"name":"artistKey","in":"path"}],"responses":{"200":{"description":"Flat source-tagged Bandcamp feed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BandcampFeedContract"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/bandcamp":{"get":{"summary":"Bandcamp feed index (no params) + keyset-paginated single-source bulk","description":"cycle-064/065 — called with NO query params, returns a self-describing MANIFEST (index of everything available: every source + grain/key/k-anon, the per-artist endpoint, and how to paginate) so a keyless consumer can discover the whole surface. With ?source=<name>&cursor=<64hex>&limit=<1..200> (default source=signals_mbid, limit=50) returns keyset-paginated rows of one cluster_id-PK source, all columns verbatim — page the full corpus via next_cursor. Keyed (X-API-Key). Unknown/non-paginable source or malformed cursor → 400.","tags":["Bandcamp"],"parameters":[{"schema":{"type":"string"},"required":false,"name":"source","in":"query"},{"schema":{"type":"string"},"required":false,"name":"cursor","in":"query"},{"schema":{"type":"string"},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"One page of a single Bandcamp source","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BandcampBulkPage"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1":{"get":{"summary":"API root index — start here (cold-start recipe + resource map)","description":"cycle-072 — a friendly, self-describing root: the cold-start recipe (resolve a name/link → cluster_id → dossier) followed by every product surface with its auth tier + how to get the key. PURE (no DB), edge-cacheable. The human-facing sibling of /api/v1/openapi.json.","tags":["Meta"],"security":[],"responses":{"200":{"description":"API root index","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiRootIndex"}}}}}}},"/api/v1/resolve":{"get":{"summary":"Resolve any identifier (name · pasted link · id) → canonical cluster_id","description":"The cluster-first front door (cycle-069/070/071): converts ANY identifier a caller holds into the canonical cluster_id + a human slug + the full locator set, WITHOUT knowing crate internals. Query ONE of: ?url=<any artist link> (discogs/musicbrainz → clean id; bandcamp/soundcloud/instagram/website → reverse-match the granted self-declared-link surface; spotify/youtube/reddit recognized but not yet cross-referenced → honest note + name fallback) | ?q=<artist name> (exact case-insensitive) | ?cluster=<64-hex> | ?discogs=<int> | ?mbid=<uuid>. resolved_from tells you how it matched ('url'|'name'|'locator'), matched_on which surface, note explains an unresolved recognized link. resolved_via = best binding tier ('discogs' verified, else 'cluster' observed, else null). Keyed (X-API-Key); ONE crate_reader checkout; never fetches the pasted URL. Unresolved → 200 with nulls (honest-gap), not 404. Malformed/missing → 400.","tags":["Identity"],"parameters":[{"schema":{"type":"string"},"required":false,"name":"url","in":"query"},{"schema":{"type":"string"},"required":false,"name":"q","in":"query"},{"schema":{"type":"string"},"required":false,"name":"cluster","in":"query"},{"schema":{"type":"string"},"required":false,"name":"discogs","in":"query"},{"schema":{"type":"string"},"required":false,"name":"mbid","in":"query"}],"responses":{"200":{"description":"Resolved identity (or nulls when unresolved)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdentityResolution"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/artist/{key}":{"get":{"summary":"Cluster-first canonical artist dossier (cluster_id hex OR slug)","description":"cycle-069 (API v2 P1) — the same exhaustive artist dossier as /dossier/artist/{slug}, addressed by the canonical cluster_id (64-hex, prime key) OR a human slug. A 64-hex key resolves identity DIRECTLY from the cluster_id (OBSERVED tier), skipping the cc0_artists lookup so a hex entry never re-anchors onto a same-name Discogs row → resolved_via is always 'cluster'. A slug resolves via the name path (resolved_via 'discogs' or 'cluster'). discogs:/mbid: locators are not a canonical address — convert them via /api/v1/resolve first (→ 400 here). Keyed (X-API-Key); unresolved → 200 identity:null (honest-gap), not 404. /dossier/artist/{slug} remains a live alias.","tags":["Dossier","Identity"],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":200},"required":true,"name":"key","in":"path"}],"responses":{"200":{"description":"Artist dossier contract (same shape as /dossier/artist/{slug})","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ArtistDossierContract"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/tastemakers":{"get":{"summary":"Tastemaker leaderboard + ones-to-watch (machine-readable)","description":"cycle-048 E1 — crate's richest artist-grain analytics (rank, ownTier, brokerageScore, corroborating axes, lead-times, Bandcamp demand), the SAME derived data the public /crate/tastemakers page renders. Read from the offline-published S3 snapshot (NO DB checkout). Keyed (X-API-Key). Fail-soft: `state` is `present` (rows), `empty` (derived data present but no rows), or `degraded` (derived data absent/unreadable) — degraded returns HTTP 200 honest-gap, never a 500. `stale=true` flags a snapshot older than 7 days. `?limit=` bounds each array (1..200).","tags":["Tastemakers"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"maximum":200,"description":"Max rows (1..200)."},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Tastemaker leaderboard + ones-to-watch (or honest-gap state)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TastemakersResponse"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/tastemakers/ones-to-watch":{"get":{"summary":"Ones-to-watch rising artists (machine-readable slice)","description":"cycle-048 E1 — the ones-to-watch slice on its own surface (mirrors the /crate/tastemakers page section): rising/breakout artists with emergence + momentum tiers, five-factor score, corroborating axes, and Bandcamp demand. Same derived S3 read as /api/v1/tastemakers, NO DB checkout. Keyed (X-API-Key), fail-soft (degraded → HTTP 200). `?limit=` bounds the array (1..200).","tags":["Tastemakers"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"maximum":200,"description":"Max rows (1..200)."},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Ones-to-watch rows (or honest-gap state)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OnesToWatchResponse"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/breakouts":{"get":{"summary":"Breakouts index — emerging artists (machine-readable)","description":"cycle-048 E2 — the breakouts index (booking-momentum \"ones to watch\" from seen.artist_emergence, cross-validated against ridden press): the SAME single-checkout read the public /crate/breakouts explorer renders. Keyed (X-API-Key). Fail-soft: `state` is `present`/`empty`/`degraded` — a read failure returns HTTP 200 honest-gap, never a 500. `?limit=` is clamped to 200 (never an unbounded scan). `?tier=breakout|rising` and `?corroboration=corroborated|booking_ahead` filter the returned list (unknown values are ignored).","tags":["Discovery"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"type":"integer","minimum":1,"maximum":200,"description":"Max rows (clamped to 200)."},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["breakout","rising"]},"required":false,"name":"tier","in":"query"},{"schema":{"type":"string","enum":["corroborated","booking_ahead"]},"required":false,"name":"corroboration","in":"query"}],"responses":{"200":{"description":"Breakouts index items (or honest-gap state)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BreakoutsResponse"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/facets":{"get":{"summary":"Precomputed facet snapshot","description":"Returns the same shape as `SearchResponse.facets`, narrowed by optional genre/style/country/year_from/year_to. format/label are NOT supported (see SDD §888).","tags":["Facets"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"genre","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"style","in":"query"},{"schema":{"anyOf":[{"type":"string","minLength":1,"maxLength":256},{"type":"array","items":{"type":"string","minLength":1,"maxLength":256},"minItems":1,"maxItems":20}]},"required":false,"name":"country","in":"query"},{"schema":{"type":"integer","minimum":1900,"maximum":2100},"required":false,"name":"year_from","in":"query"},{"schema":{"type":"integer","minimum":1900,"maximum":2100},"required":false,"name":"year_to","in":"query"}],"responses":{"200":{"description":"Facet counts","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FacetCounts"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"402":{"description":"Payment required (past_due customer or suspended key)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Request deadline (15s) or query timeout exceeded","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/usage":{"get":{"summary":"Per-customer monthly usage snapshot","tags":["Usage"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Usage snapshot","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UsageResponse"}}}},"401":{"description":"Authentication failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"402":{"description":"Payment required (past_due customer or suspended key)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/wayfind/answer":{"post":{"summary":"Natural-language answer over the catalogue","description":"cycle-003 — synthesizes a natural-language answer plus supporting catalogue results for a free-text question. Requires an X-API-Key (post-cycle-078 wall); crate's own /crate NL box reaches it server-side via the first-party proxy. A payment-blocked customer (past_due/suspended) receives 402. On synthesis/Redis trouble it returns a degraded 200 fallback rather than failing; a hard cost-breaker outage returns 503. (WAF rate rules + a cost-breaker still bound traffic at the edge.)","tags":["Wayfind"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WayfindAnswerRequest"}}}},"responses":{"200":{"description":"Synthesized answer (or degraded fallback) + supporting results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WayfindAnswerResponse"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"402":{"description":"Payment required (past_due customer or suspended key)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"500":{"description":"Internal server error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/wayfind/interpret":{"post":{"summary":"Interpret a natural-language query into structured search params","description":"cycle-003 — parses a free-text query into structured facets/intent. Authenticated AND Sync-tier-only (mirrors the /search?nl=true tier gate); a non-Sync key receives an explicit 401 `tier_not_eligible`.","tags":["Wayfind"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WayfindInterpretRequest"}}}},"responses":{"200":{"description":"Structured interpretation (or degraded:null block)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WayfindInterpretResponse"}}}},"400":{"description":"Validation failure (invalid query, malformed body, bad facet name)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"402":{"description":"Payment required (past_due customer or suspended key)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limit exceeded — see Retry-After + X-RateLimit-* headers","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RateLimited"}}}},"503":{"description":"Database pool exhausted — retry after 5s","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/api/v1/search-events/observed":{"post":{"summary":"Beacon: a search result was observed (cache-hit telemetry)","description":"cycle-002 — client beacon reporting that a search result was observed from cache. Authenticated with the per-search beacon JWT (Authorization: Bearer), NOT the X-API-Key. Body ≤512 bytes; idempotent (duplicate beacons are no-ops). The beacon token MUST match the body search_event_id.","tags":["Beacon"],"security":[{"BeaconBearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ObservedBeaconRequest"}}}},"responses":{"204":{"description":"Beacon accepted (idempotent no-op on duplicate)"},"400":{"description":"Validation failure — `invalid_json`, `invalid_payload` (with `details` = Zod flattened error object), or `timestamp_skew` (with `skew_ms`)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconError"}}}},"401":{"description":"Beacon-token failure — `missing_token`, `invalid_token`, or `token_search_event_mismatch`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconError"}}}},"413":{"description":"Payload too large (>512 bytes)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconError"}}}}}}},"/api/v1/search-events/refined":{"post":{"summary":"Beacon: a search was refined (facet-change telemetry)","description":"cycle-002 — client beacon reporting facet changes that refined a prior search (≤10 changed facets). Authenticated with the per-search beacon JWT (Authorization: Bearer), NOT the X-API-Key. Body ≤512 bytes; idempotent. The beacon token MUST match the body search_event_id.","tags":["Beacon"],"security":[{"BeaconBearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefinedBeaconRequest"}}}},"responses":{"204":{"description":"Beacon accepted (idempotent no-op on duplicate)"},"400":{"description":"Validation failure — `invalid_json`, `invalid_payload` (with `details` = Zod flattened error object), or `timestamp_skew` (with `skew_ms`)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconError"}}}},"401":{"description":"Beacon-token failure — `missing_token`, `invalid_token`, or `token_search_event_mismatch`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconError"}}}},"413":{"description":"Payload too large (>512 bytes)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BeaconError"}}}}}}},"/api/v1/openapi.json":{"get":{"summary":"OpenAPI 3.1 specification (this document)","description":"Public endpoint, no auth required.","tags":["Spec"],"security":[],"responses":{"200":{"description":"OpenAPI 3.1 spec","content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}}}}}},"webhooks":{}}